* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  min-height: 120vh;
  width: 100vw;
  background-image: url(./images/Glamping_Dome_2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.fixed {
  height: 100vh;
  display: none;
}

.Options2 {
  position: relative;
  position: fixed;
  left: 10%;
  top: 5%;
  display: flex;
  background-color: rgb(255, 255, 255);
  width: 75vw;
  height: 55px;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
}

.optionsquestion {
  position: relative;
  left: 10px;
}

.responsivenavbar {
  display: flex;
  width: 100vw;
  height: 85px;
  position: relative;
  top: 88%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  right: 20px;
  line-height: 25px;
}

.search i {
  position: relative;
  left: 25%;
  color: red;
}

.heart {
  line-height: 25px;
}

.heart i {
  position: relative;
  left: 25%;
  color: red;
}

.user {
  position: relative;
  left: 20px;
  line-height: 25px;
}

.user i {
  position: relative;
  left: 25%;
  color: red;
}
nav {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1; /* will wake the whole row fill space */
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links .center-nav {
  transform: translate(-30%, 0%);
  display: inline-block;
}

#globe {
  display: inline-block;
  color: grey;
  border: 3px solid white;
  border-radius: 25px;
  padding: 8px;
  position: relative;
  margin: 8px;
  cursor: pointer;
  background-color: white;
}

.barsANDuser {
  display: inline-block;
  color: grey;
  border: 3px solid white;
  border-radius: 25px;
  padding: 8px;
  position: relative;
  margin: 8px;
  cursor: pointer;
  background-color: white;
}

.barsANDuser #bars1 {
  margin-right: 5px;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 15%;
}

.nav-links ul :hover {
  content: "";
  color: #e4b5b580;
  transition: 0.3s;
}

.nav-links ul .barsANDuser :hover {
  color: black;
}

.sub-menu {
  display: none;
  position: absolute;
  background-color: white;
  z-index: 100;
  top: 120%;
  width: 150%;
  right: 0;
  border-radius: 20px;
}
.nav-links .sub-menu ul li a {
  color: black;
}

.click {
  display: block;
}

.nav-links .sub-menu ul li a:hover {
  color: rgb(68, 67, 67);
}

/* Options Query */

.Options-container {
  position: relative;
  width: 100vw;
  height: 100px;
  background-color: black;
}

.Options {
  display: flex;
  margin: auto;
  background-color: aliceblue;
  width: 800px;
  height: 73px;
  align-items: center;
  line-height: 25px;
  font-size: 20px;
  border-radius: 26px;
}

.Options span {
  color: grey;
}

.options-1 {
  width: 250px;
  height: 73px;
  border-right: 0.3px solid rgb(201, 199, 199);
  cursor: pointer;
}

.options-1 p {
  transform: translate(15px, 10px);
}

.options-2 {
  width: 150px;
  height: 73px;
  border-right: 0.3px solid rgb(201, 199, 199);
  cursor: pointer;
  position: relative;
}

.options-2 p {
  transform: translate(15px, 10px);
}

.options-3 {
  width: 150px;
  height: 73px;
  border-right: 0.3px solid rgb(201, 199, 199);
  cursor: pointer;
}

.options-3 p {
  transform: translate(15px, 10px);
}

.options-4 {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
  height: 73px;
  cursor: pointer;
}

.options-4 p {
  transform: translateY(10px);
}
.search-glass {
  position: relative;
  transform: translate(20px, 5px);
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(228, 146, 160);
  cursor: pointer;
}

.search-glass i {
  color: white;
}

input#checkintime {
  width: 120px;
  height: 20px;
  position: relative;
  left: 10%;
  top: 10%;
  display: none;
}

.options-2:hover input#checkintime {
  display: block;
}

input#checkouttime {
  width: 120px;
  height: 20px;
  position: relative;
  left: 10%;
  top: 10%;
  display: none;
}

.options-3:hover input#checkouttime {
  display: block;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
}

.text-box h1 {
  font-size: 36px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(51, 51, 255);
  border: 2px solid white;
  border-radius: 25px;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: bold;
  background: white;
  position: relative;
  cursor: pointer;
}

/* Gift cards */

.gift {
  min-height: 100vh;
  width: 100vw;
  background-color: black;
}

.shopnow {
  min-height: 90vh;
  width: 90vw;
  background-image: url("./images/Gift_Cards.png");
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  transform: translate(5%, 5%);
}
.shopnow-text {
  text-align: center;
  transform: translate(-28%, 70%);
}

.shopnow-text h4 {
  font-size: 18px;
  font-weight: 600;
}

.shopnow-text h1 {
  font-size: 70px;
  color: rgb(29, 27, 27);
  font-family: "Roboto", sans-serif;
}

.shop-btn {
  text-decoration: none;
  color: white;
  border: 2px solid rgb(29, 27, 27);
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(29, 27, 27);
  position: relative;
  cursor: pointer;
}
a.shop-btn:hover {
  background: black;
  border: 2px solid black;
  transition: 0.2s;
}

/* Inspiration for next trip */

.inspiration {
  min-height: 75vh;
  width: 100vw;
}

.inspiration-text h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: xx-large;
  text-indent: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.flex-1,
.flex-2,
.flex-3,
.flex-4 {
  margin: 5px;
}

.inspiration-text-1 {
  position: relative;
  width: 300px;
  height: 195px;
  background-image: linear-gradient(red, rgb(255, 83, 83));
  color: black;
  margin-top: -7px;
  border-radius: 0% 0% 6% 6%;
}

.inspiration-text-1 h4 {
  position: absolute;
  top: 9%;
  left: 9%;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.inspiration-text-1 h4 span {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.inspiration-text-2 {
  position: relative;
  width: 300px;
  height: 195px;
  background-image: linear-gradient(rgb(212, 0, 255), rgb(186, 159, 211));
  color: black;
  margin-top: -7px;
  border-radius: 0% 0% 6% 6%;
}

.inspiration-text-2 h4 {
  position: absolute;
  top: 9%;
  left: 9%;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.inspiration-text-2 h4 span {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.inspiration-text-3 {
  position: relative;
  width: 300px;
  height: 195px;
  background-image: linear-gradient(red, rgb(255, 83, 83));
  color: black;
  margin-top: -7px;
  border-radius: 0% 0% 6% 6%;
}

.inspiration-text-3 h4 {
  position: absolute;
  top: 9%;
  left: 9%;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.inspiration-text-3 h4 span {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}

.inspiration-text-4 {
  position: relative;
  width: 300px;
  height: 195px;
  background-image: linear-gradient(rgb(212, 0, 255), rgb(186, 159, 211));
  color: black;
  margin-top: -7px;
  border-radius: 0% 0% 6% 6%;
}

.inspiration-text-4 h4 {
  position: absolute;
  top: 9%;
  left: 9%;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
}

.inspiration-text-4 h4 span {
  font-weight: bold;
  font-style: italic;
  font-size: large;
}
/* new code 

.inspiration-loc {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#gradient-1 {
  padding: 30px 95px;
  background-color: red;
  font-size: larger;
  background-image: linear-gradient(red, rgb(255, 83, 83));
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 16px;
}
#gradient-2 {
  padding: 30px 95px;
  background-color: blue;
  font-size: larger;
  background-image: linear-gradient(blue, rgb(75, 75, 247));
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 16px;
}
#gradient-3 {
  padding: 30px 95px;
  background-color: green;
  font-size: larger;
  background-image: linear-gradient(green, rgb(41, 128, 41));
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 16px;
}
#gradient-4 {
  padding: 30px 95px;
  background-color: yellow;
  font-size: larger;
  background-image: linear-gradient(yellow, rgb(184, 184, 2));
  text-decoration: none;
  color: white;
  font-style: italic;
  font-size: 16px;
}

 */

/* Discovery from home & trips */

.discovery {
  min-height: 100vh;
  width: 90vw;
  box-sizing: border-box;
}

.discovery #discovery-discover {
  position: relative;
  left: 40px;
  color: rgb(26, 24, 24);
}

.discovery-layout {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
  left: 10px;
}

.discovery-1 {
  height: 373px;
  width: 450px;
  background-image: url(./images/thingsForTrip.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.discovery-1 h1 {
  color: white;
  position: relative;
  left: 15px;
}

.experiences-btn {
  text-decoration: none;
  text-align: right;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  padding: 12px 34px;
  background-color: white;
  border-radius: 9px;
  position: relative;
  left: 15px;
}

a.experiences-btn:hover {
  background-color: rgb(160, 160, 160);
  border: 1px solid rgb(160, 160, 160);
  transition: 0.3s;
}

.discovery-2 {
  height: 373px;
  width: 450px;
  background-image: url(./images/ThingsForHome.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
}

.discovery-2 h1 {
  color: white;
  position: relative;
  left: 15px;
}

.online-experiences-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid white;
  padding: 12px 34px;
  background-color: white;
  border-radius: 9px;
  position: relative;
  left: 15px;
}

a.online-experiences-btn:hover {
  background-color: rgb(160, 160, 160);
  border: 1px solid rgb(160, 160, 160);
  transition: 0.3s;
}

/* Future getaways */

.future-getaways {
  min-height: 45vh;
  width: 98vw;
  box-sizing: border-box;
}
.getaways-options {
  display: flex;
  justify-content: space-between;
}
.getaways-options a {
  text-decoration: none;
  color: rgb(65, 51, 51);
  font-weight: bolder;
}

.getaways-options #artsandculture {
  color: black;
}

#artsandculture {
  text-decoration: underline;
}

.cities-options {
  display: flex;
  justify-content: space-evenly;
}

.cities-options h3 {
  color: rgb(66, 66, 66);
  font-style: italic;
  font-weight: normal;
  cursor: pointer;
  font-size: 18px;
}

.future-getaways hr {
  font-weight: lighter;
  width: 85vw;
}

/* Footer */

.footer {
  min-height: 35vh;
  width: 98vw;
  background: rgb(239, 238, 245);
  background: linear-gradient(
    90deg,
    rgba(239, 238, 245, 1) 0%,
    rgba(255, 255, 255, 1) 35%,
    rgba(221, 249, 255, 1) 100%
  );
  box-sizing: border-box;
}
.contact-options {
  display: flex;
  justify-content: space-evenly;
}
.contact-options a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  line-height: 2.5em;
}

.contact-options h3 {
  font-weight: 300;
  font-size: 1em;
  cursor: pointer;
  line-height: 2em;
}

.footer hr {
  width: 50vw;
  color: rgb(255, 205, 205);
  position: relative;
  margin-left: 25%;
}

/*
*
Links
*
*/

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  width: 100vw;
  background-color: rgba(241, 241, 241, 0.808);
  box-sizing: border-box;
}

.links a {
  text-decoration: none;
  color: black;
}

.link-options-text {
  width: 420px;
}
.link-options-text a {
  margin-left: 10px;
}

.links-options-usd a {
  margin-right: 12px;
}

.links-options-icons {
  width: 200px;
  display: flex;
  position: relative;
  right: 5%;
  justify-content: space-evenly;
  font-size: 1.3em;
}

/* Media queries */
/*
*
*
*
*
*/

@media (max-width: 1070px) {
  nav img {
    display: none;
  }
}

@media (max-width: 850px) {
  nav {
    display: none;
  }

  .Options-container {
    display: none;
  }

  .fixed {
    display: block;
  }

  .text-box {
    z-index: 0;
  }

  .Options2 {
    z-index: 1;
    cursor: pointer;
  }

  .responsivenavbar {
    z-index: 1;
  }

  .responsivenavbar .fa {
    cursor: pointer;
  }

  .responsivegift {
    width: 90vw;
    height: 70vh;
    background: rgb(239, 238, 245);
    background: linear-gradient(
      90deg,
      rgba(239, 238, 245, 1) 0%,
      rgba(197, 197, 224, 1) 35%,
      rgba(138, 159, 215, 1) 100%
    );
    position: relative;
    left: 5%;
    z-index: -1;
  }

  .shopnow-text {
    transform: translate(2%, 260%);
  }

  .links-options-icons {
    display: none;
  }
}
