* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(./images/Glamping_Dome_2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  padding: 2% 5%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px;
}

.nav-links {
  flex: 1; /* will wake the whole row fill space */
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

#globe {
  display: inline-block;
  color: grey;
  border: 3px solid white;
  border-radius: 25px;
  padding: 8px;
  position: relative;
  margin: 8px;
  cursor: pointer;
  background-color: white;
}

.barsANDuser {
  display: inline-block;
  color: grey;
  border: 3px solid white;
  border-radius: 25px;
  padding: 8px;
  position: relative;
  margin: 8px;
  cursor: pointer;
  background-color: white;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 15%;
}
.options-query {
  width: 80%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -110%);
  text-align: center;
  display: flex;
  justify-content: center;
  border: 5px solid white;
  border-radius: 25px;
  background: rgb(233, 211, 211);
}
.Options {
  flex: auto;
  display: inline-block;
  text-decoration: none;
  color: rgb(5, 5, 7);
  border: 5px solid white;
  border-radius: 3px;
  font-size: 15px;
  font-weight: bold;
  background: white;
  cursor: pointer;
}

#magnifying-glass {
  flex: auto;
  background-color: rgb(223, 94, 94);
  border-radius: 6px;
  cursor: pointer;
}

.text-box {
  width: 90%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  text-align: center;
}

.text-box h1 {
  font-size: 36px;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(51, 51, 255);
  border: 2px solid white;
  border-radius: 25px;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: bold;
  background: white;
  position: relative;
  cursor: pointer;
}

#heart {
  visibility: hidden;
}

/* Gift cards */

.gift {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.shopnow {
  min-height: 90vh;
  width: 90vw;
  background-image: url(./images/Gift_Cards.png);
  background-position: center;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  transform: translate(5%, 5%);
}
.shopnow-text {
  text-align: center;
  transform: translate(-28%, 90%);
  font-size: 22px;
}
.shopnow-text h1 {
  font-size: 50px;
}

.shop-btn {
  text-decoration: none;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 12px 34px;
  font-size: 15px;
  font-weight: bold;
  background: black;
  position: relative;
  cursor: pointer;
}

/* Inspiration for next trip */

.inspiration {
  min-height: 75vh;
  width: 100vw;
}

.inspiration-text h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.inspiration-loc {
  display: flex;
  align-items: stretch;
}
.inspiration-loc img {
  margin: 5px;
}

.inspiration-options {
  display: flex;
  justify-content: stretch;
  transform: translate(2.2%, 0%);
}

.inspiration-options a {
  margin-top: -6px;
  text-decoration: none;
  color: white;
  margin: 7px;
}
#gradient-1 {
  padding: 30px 120px;
  background-color: red;
  font-size: larger;
  background-image: linear-gradient(red, rgb(255, 83, 83));
}
#gradient-2 {
  padding: 30px 120px;
  background-color: blue;
  font-size: larger;
  background-image: linear-gradient(blue, rgb(75, 75, 247));
}
#gradient-3 {
  padding: 30px 120px;
  background-color: green;
  font-size: larger;
  background-image: linear-gradient(green, rgb(41, 128, 41));
}
#gradient-4 {
  padding: 30px 120px;
  background-color: yellow;
  font-size: larger;
  background-image: linear-gradient(yellow, rgb(184, 184, 2));
}

/* Discovery from home & trips */

.discovery {
  min-height: 100vh;
  width: 90vw;
}

.discovery-layout {
  display: flex;
  justify-content: space-between;
}

.discovery-1 {
  min-height: 70vh;
  width: 45vw;
  margin-left: 10px;
  background-image: url(./images/thingsForTrip.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.discovery-1-content {
  transform: translate(10%, 10%);
}
.discovery-1 h1 {
  color: white;
}

.experiences-btn {
  text-decoration: none;
  text-align: right;
  color: black;
  font-weight: bold;
  border: 3px solid white;
  padding: 12px 34px;
  background-color: white;
  border-radius: 9px;
}

.discovery-2 {
  min-height: 70vh;
  width: 45vw;
  margin-left: 100px;
  background-image: url(./images/ThingsForHome.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.discovery-2-content {
  transform: translate(10%, 10%);
}

.discovery-2 h1 {
  color: white;
}

.online-experiences-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 3px solid white;
  padding: 12px 34px;
  background-color: white;
  border-radius: 9px;
}

/* Future getaways */

.future-getaways {
  min-height: 50vh;
  width: 100vw;
}
.getaways-options {
  display: flex;
  justify-content: space-between;
}
.getaways-options a {
  text-decoration: none;
  color: black;
}

#artsandculture {
  text-decoration: underline;
}

.cities-options {
  display: flex;
  justify-content: space-between;
}

/* Footer */

.footer {
  min-height: 50vh;
  width: 100vw;
  background-color: rgb(241, 241, 241);
}
.contact-options {
  display: flex;
  justify-content: space-between;
}
.contact-options a {
  text-decoration: none;
  color: black;
}

.help-list {
  display: flex;
  justify-content: space-between;
}

/*
*
Links
*
*/

.links {
  min-height: 5vh;
  width: 100vw;
  background-color: rgb(241, 241, 241);
}

.link-options {
  display: flex;
  justify-content: space-between;
}
.link-options a {
  text-decoration: none;
  color: gray;
}

/* Media queries */
/*
*
*
*
*
*/

@media (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
  }

  nav img {
    display: none;
  }

  .nav-links {
    position: absolute;
    background: #ffffff;
    height: 6vh;
    width: 100vw;
    bottom: 0;
    flex: 1;
  }

  .nav-links ul li {
    display: inline-block;
  }
  .nav-links ul li a {
    display: none;
  }

  #heart {
    visibility: visible;
    cursor: pointer;
    padding-right: 100px;
    border: 9px solid white;
    border-radius: 25px;
    background-color: white;
  }

  #bars1 {
    display: none;
  }

  /*Search tab */
  .options-query {
    transform: translate(-10%, -380%);
    position: sticky;
  }

  .Options {
    visibility: hidden;
  }
  #magnifying-glass {
    visibility: visible;
  }
}
